<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        {% block navbar %}
            <section id="top-navbar">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <!--<p>Attention ! Vous visitez actuellement le prototype de la nouvelle version du site, <a href="http://upsters.eu">ANCIENNE VERSION ICI</a> </p>
                        -->
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4" id="social-tab">
                            <div class="col-md-3 text-center">
                                <a href="https://www.facebook.com/upsterswebsite"><i class="fa fa-facebook"></i></a>
                            </div>
                            <div class="col-md-3 text-center">
                                <a href="https://twitter.com/Upstersfr"><i class="fa fa-twitter"></i></a>
                            </div>
                            <div class="col-md-3 text-center">
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                            <div class="col-md-3 text-center">
                                <a href="#"><i class="fa fa-comment"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4" id="notif-tab">
                            <div class="col-md-4 text-center">
                                <i class="fa fa-bell"></i>
                            </div>
                            <div class="col-md-4 text-center">
                                <p>({{ user.messages }})</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <i class="fa fa-angle-up"></i>
                            </div>
                        </div>
                        <div class="col-md-4 text-center" id="greet-tab">
                            <a href="{{ path('user', {'name' : user.name}) }}"><p>Salut, <b>{{ user.name }}</b></p></a>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            <section id="footer">
                <div class="col-md-12 text-center">
                            © 2015-2016 - Project by <a href="mailto:ludovic@dozee.fr" style="color: inherit"> Ludovic Rerolle</a> - Dev by <a href="http://www.julieborgeot.com/" style="color: inherit"> JB DEV </a> &amp; <a href="http://pjoy.fr" style="color: inherit">PJoy</a>
                            <br>
                            <a href="https://docs.google.com/spreadsheets/d/1yN27aSusrHmE0NHqkwfPWzbD-VV4RulpaAC49kbTSoc/edit?usp=sharing">Signaler un bug </a>  - <a href="mailto:contact@upsters.fr">Contact</a> <br>
                </div>
            </section>
        {% endblock %}
        {% block javascripts %}
            <script src="https://use.fontawesome.com/1a855ebc8f.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
