<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        {% block navbar %}
            <section id="top-navbar">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <!--<p>Attention ! Vous visitez actuellement le prototype de la nouvelle version du site, <a href="http://upsters.eu">ANCIENNE VERSION ICI</a> </p>
                        -->
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4" id="social-tab">
                            <div class="col-md-3 text-center">
                                <a href="https://www.facebook.com/upsterswebsite"><i class="fa fa-facebook"></i></a>
                            </div>
                            <div class="col-md-3 text-center">
                                <a href="https://twitter.com/Upstersfr"><i class="fa fa-twitter"></i></a>
                            </div>
                            <div class="col-md-3 text-center">
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                            <div class="col-md-3 text-center">
                                <a href="#"><i class="fa fa-comment"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4" id="notif-tab">
                            <div class="col-md-4 text-center">
                                <i class="fa fa-bell"></i>
                            </div>
                            <div class="col-md-4 text-center">
                                <p>(0)</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <i class="fa fa-angle-up"></i>
                            </div>
                        </div>
                        <div class="col-md-4 text-center" id="greet-tab">
                            {% if is_granted('ROLE_USER') %}
                                <p><a href="{{ path('security_logout') }}">Se déconnecter</a></p>
                            {% else %}
                                <p><a href="{{ path('security_login') }}">Se connecter</a></p>
                            {% endif %}
                            <!--<a href="#"><p>Salut, <b>yo</b></p></a>-->
                        </div>
                    </div>
                </div>
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success text-center">
                        {{ msg }}
                    </div>
                {% endfor %}
            </section>
        {% endblock %}

        {% block header %}
            <section id="header">
                <div class="col-md-12">
                    <nav class="navbar">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images/logo.png') }}">
                                </a>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a class="fill" href="{{ path('home') }}">Accueil</a></li>
                                    {% if app.user %}
                                        <li><a class="fill" href="{{ path('user', {name : 'yo'}) }}">Mon profil</a></li>
                                    {% else %}
                                        <li><a class="fill" href="{{ path('security_login') }}">Mon profil</a></li>
                                    {% endif %}
                                    <li><a class="fill" href="{{ path('media_home') }}">Médiathèque</a></li>
                                    <li><a class="fill" href="{{ path('resources_home') }}">Recommander un prestataire</a></li>
                                    <li><a class="fill" href="{{ path('startups') }}">Rechercher une startup</a></li>
                                    <li><a class="fill" href="{{ path('home') }}">Forum</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </section>

        {% endblock %}

        <div id="shift-body">
            {% block body %}{% endblock %}
        </div>
        {% block footer %}
            <section id="footer">
                <div class="col-md-12 text-center">
                            © 2015-2016 - Project by <a href="mailto:ludovic@dozee.fr" style="color: inherit"> Ludovic Rerolle</a> - Dev by <a href="http://www.julieborgeot.com/" style="color: inherit"> JB DEV </a> &amp; <a href="http://pjoy.fr" style="color: inherit">PJoy</a>
                            <br>
                            <a href="https://docs.google.com/spreadsheets/d/1yN27aSusrHmE0NHqkwfPWzbD-VV4RulpaAC49kbTSoc/edit?usp=sharing">Signaler un bug </a>  - <a href="mailto:contact@upsters.fr">Contact</a> - <a class="fill" href="{{ path('blogIndex') }}">Blog</a>
                    <br>
                </div>
            </section>
        {% endblock %}
        {% block javascripts %}

            <!-- GOOGLE ANALYTICS -->
            <script>
                if (document.location.hostname == 'localhost' || document.location.hostname == '127.0.0.1'){
                    // don't put analytics js
                } else {
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                    ga('create', 'UA-81469141-1', 'auto');
                    ga('send', 'pageview');
                }
            </script>
            <!-- /GOOGLE ANALYTICS -->

            <script src="https://use.fontawesome.com/1a855ebc8f.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% endblock %}
        {% block additional_javascript %}{% endblock %}
    </body>
</html>
