{% extends 'base.html.twig' %}

{% block body %}
    <div class="container display-media-container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Section d'administration</h1>
            </div>
            <div class="col-xs-12">
                <a href="{{ path('admin_users') }}"><h2>Utilisateurs</h2></a>
                <a href="{{ path('admin_blog') }}"><h2>Blog</h2></a>
                <a href="{{ path('admin_media') }}"><h2>Media</h2></a>
                <a href="{{ path('admin_resource') }}"><h2>Ressources</h2></a>
                <a href="{{ path('admin_startups') }}"><h2>Startups</h2></a>
            </div>
        </div>
    </div>
{% endblock %}