{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container" id="resources-home-container">
        <section class="wip" id="profile-main">
            <div class="col-md-12 text-center">
                <h1>Ceci est la page de l'annuaire des prestataires</h1>
                <h2>En construction !</h2>
            </div>

            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Nom</th>
                        <th>Catégorie</th>
                        <th>Entreprise</th>
                        <th>Recommandations</th>
                        <th></th>
                    </tr>
                    {% for resource in resources %}
                        <tr>
                            <th><a href="{{ path('resource_display',
                                { 'name' : resource.name} ) }}">{{ resource.name }}</a> </th>
                            <th>{{ resource.category }}</th>
                            <th>{{ resource.company }}</th>
                            <th>{{ resource.likesCount }}</th>
                            {% if app.user %}
                                <th><div id="{{ resource.id }}" class="btn fake-btn-orange recom-btn">Recommander</div></th>
                            {% else %}
                                <th><a href="{{ path('security_login') }}"><div id="{{ resource.id }}" class="btn fake-btn-orange recom-btn-disabled">Recommander</div></a> </th>
                            {% endif %}
                        </tr>

                        {#<div class="col-md-4 text-center service-card-large">
                            <div class="col-md-12">
                                <img src="{{ extract.photoUrl }}" alt="photo de {{ extract.name }}, catégorie : {{ extract.categoryName }}">
                                <br>
                                <img class="cat-img" src="{{ asset('images/icons/' ~ extract.category ~ '.png') }}" alt="logo de la catégorie {{ extract.categoryName }}">
                                <h4>{{ extract.categoryName }}</h4>
                                <h5>{{ extract.name }}</h5>
                                <div class="card-pitch">
                                    <p>{{ extract.pitch }}</p>
                                </div>
                                <div class="card-recommendation">
                                    <p><i class="fa fa-thumbs-o-up"></i> <b>{{ extract.recom }}</b> recommandations</p>
                                </div>
                                <a href=""><div class="col-md-6 fake-btn fake-btn-grey">Voir la suite</div></a>
                                <a href=""><div class="col-md-6 fake-btn fake-btn-orange">Recommander</div></a>
                            </div>
                        </div>#}

                    {% endfor %}

                    <div class="col-xs-4"></div>
                    <div class="col-xs-4 text-center">
                        <a href="{{ path('resource_add') }}"><div class="col-md-12 fake-btn fake-btn-orange" id="search-btn">Ajouter un prestataire</div></a>
                    </div>
                    <div class="col-xs-4"></div>


                </table>
            </div>


        </section>
    </div>
{% endblock %}

{% block additional_javascript %}
    <script>
        var search = '{{ search }}';
        console.log(search);
        $('#profile-main > div:nth-child(2) > table > tbody > tr:not(:first-child)').each(function(){
            if($(this).text().indexOf(search)>=0){
                console.log('OK');
            }else{
                console.log('not ok');
                $(this).hide();
            }
        });
    </script>

    <script>
        function like(id) {
            var route = "{{ path('ajax_like') }}";
            $.post(route,
                    {% if app.user %}
                    {'id' : id, 'type' : 'Resource', 'userId': {{ app.user.id }}},
                    {% endif %}
                    function (response) {
                        location.reload();
                    })
        }

        $(document).ready(function () {
            $('.recom-btn').on('click', function () {
                like($(this).attr('id'));
            })
        })
    </script>
{% endblock %}