<div class="container login-container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>Connexion</h1>
            <hr>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {{ form_start(form, {'action' : path('security_login') }) }}
            {{ form_row(form._username) }}
            {{ form_row(form._password) }}
            <button type="submit" class="btn fake-btn-green">Login <span class="fa fa-lock"></span> </button>
            <!--<div class="col-md-12 fake-btn fake-btn-orange" onclick="$('.login-container form').submit()" style="cursor: pointer">Login</div>-->
            <br>
            {{ form_end(form) }}
        </div>
    </div>
</div>