{% extends 'base.html.twig' %}

{%  block body %}
    <div class="container register-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <h1>Créez votre compte sur Upsters</h1>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-4 text-center">
                        <div class="numberCircle active">1</div>
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6">
                            <p>Je choisis ma méthode d'inscription</p>
                        </div>
                        <div class="col-xs-3"></div>
                    </div>
                    <div class="col-xs-4 text-center">
                        <div class="numberCircle">2</div>
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6">
                            <p>Je remplis mes infos</p>
                        </div>
                        <div class="col-xs-3"></div>

                    </div>
                    <div class="col-xs-4 text-center">
                        <div class="numberCircle">3</div>
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6">
                            <p>Je sélectionne mes services</p>
                        </div>
                        <div class="col-xs-3"></div>
                    </div>
                </div>
                <div class="col-md-12 register-step-one text-center">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="col-md-12 btn fake-btn-green-inv">M'inscrire avec Facebook</div>
                        <div class="col-md-12 btn fake-btn-orange-inv">M'inscrire avec Gmail</div>
                        <div class="col-xs-5"><hr></div>
                        <div class="col-xs-2">OU</div>
                        <div class="col-xs-5"><hr></div>
                        <div class="col-md-12 btn fake-btn-orange">M'inscrire avec mon e-mail</div>
                        <p>En créant un compte, j'accepte les <a href="{{ path('CGU') }}">Conditions Générales d'Utilisation</a>
                            et la <a href="{{ path('CGU') }}">politique de confidentialité</a> d'Upsters.</p>
                        <div class="col-md-12 btn fake-btn-green">Déjà membre d'Upsters ?</div>

                    </div>
                    <div class="col-md-4"></div>
                </div>

                <div class="col-md-12 register-step-two">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>

                <div class="col-md-12 register-step-three">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                {#<div class="col-xs-12">
                    {{ form_start(form) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword.first, {
                        'label' : 'Mot de passe'
                    }) }}
                    {{ form_row(form.plainPassword.second, {
                        'label' : 'Répéter le mot de passe'
                    }) }}

                    <button type="submit" class="btn btn-primary" formnovalidate>S'inscrire !</button>
                    {{ form_end(form) }}
                </div>#}
            </div>
        </div>
    </div>
{% endblock %}