{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <article>
        <div class="container article-container" id="main-container">
            <div class="text-center">
                <h1> {{ article.title }} </h1>
            </div>
            <div id="article-content">
                {{ article.content|raw }}
            </div>
            <p>Tags : {% for tag in article.keywords %}<a href="">{{ tag }}</a>, {% endfor %}</p>
            <p class="published-by">Par <a>{{ article.author }}</a></p>

            <div>
                {% for article in related %}
                    <div class="col-md-4">
                        {% include 'V2/parts/blogPreviewCard.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock %}