{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container" id="media-home-container">
        <section class="wip" id="profile-main">
            <div class="col-md-12 text-center">
                <h1>Ceci est la page de l'annuaire des médias</h1>
                <h2>En construction !</h2>
            </div>

            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Nom</th>
                        <th>Ajouté par</th>
                        <th>Ajouté le</th>
                    </tr>
                    {% for media in medias %}
                        <tr>
                            <th><a href="{{ path('media_display', { 'name' : media.name} ) }}">{{ media.name }}</a> </th>
                            <th>{{ media.submittedBy }}</th>
                            <th>{{ media.dateSubmitted|date('d/m/Y') }}</th>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="col-xs-4"></div>
            <div class="col-xs-4 text-center">
                <a href="{{ path('media_add') }}"><div class="col-md-12 fake-btn fake-btn-orange" id="search-btn">Ajouter un média</div></a>
            </div>
            <div class="col-xs-4"></div>
        </section>
    </div>
{% endblock %}