{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container" id="main-container">
        <section class="wip" id="profile-main">
            <div class="col-md-12 ">
                <div class="col-md-12 profile-main">
                    <div class="row">
                        <div class="col-md-2 text-center avatar">
                            {% if user.image %}
                                <img src="{{ asset('uploads/avatars/' ~ user.image) }}" alt="Avatar de l'utilisateur d'Upsters {{ user.username }}">
                            {% else %}
                                <img src="{{ asset('images/bigard.png') }}" alt="Avatar par défaut de l'utilisateur d'Upsters {{ user.username }}">
                            {% endif %}
                        </div>
                        <div class="col-md-7">
                            <h1>{{ user.username }}</h1>
                            <p data-toggle="tooltip" data-placement="left" title="Un peu de patience !" class="disabled">{{ followCount }} follow(s) </p>
                            <p>{{ recomCount }} recommandation(s)</p>
                            <p>{{ startupCount }} startup(s)</p>
                            <p>{{ resourceCount }} ressources(s) ajoutée(s) à la médiathèque</p>
                            <p data-toggle="tooltip" data-placement="left" title="Presque prêt !" class="disabled">{{ followCount }} messages postés dans le forum</p>
                        </div>
                        <div class="col-md-3">
                            <a href="{{ path('user_edit', {'name': user.name}) }}">Mettre à jour un profil <i class="fa fa-angle-right"></i></a><br>
                            <a href="{{ path('media_home') }}">Recommander un média <i class="fa fa-angle-right"></i></a><br>
                            <a href="{{ path('resources_home') }}">Recommander un prestataire <i class="fa fa-angle-right"></i></a><br>
                            <a data-toggle="tooltip" data-placement="right" title="Cette fonctionalité arrive bientôt !" class="disabled" href="">Rechercher des amis<i class="fa fa-angle-right"></i></a><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 profile-content">
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12 profile-nav btn" onclick="$('.profile-section').removeClass('active');$('.profile-section-preview').addClass('active');">
                                <p>Aperçu du profil <i class="fa fa-angle-right"></i></p>
                            </div>
                            <div class="col-md-12"><hr></div>
                            <div class="col-md-12 profile-nav btn" onclick="$('.profile-section').removeClass('active');$('.profile-section-recoms').addClass('active')">
                                <p>Recommandations <i class="fa fa-angle-right"></i></p>
                            </div>
                            <div class="col-md-12"><hr></div>
                            <div class="col-md-12 profile-nav btn" onclick="$('.profile-section').removeClass('active');$('.profile-section-startups').addClass('active')">
                                <p>Startups <i class="fa fa-angle-right"></i></p>
                            </div>
                            <div class="col-md-12"><hr></div>
                            <div class="col-md-12 profile-nav btn disabled" data-toggle="tooltip" data-placement="right" title="Cette fonctionalité arrive très bientôt !">
                                <p>Follows <i class="fa fa-angle-right"></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 profile-section profile-section-preview active">
                                <h2>Mon Laïus</h2>
                                <p>{{ user.pitch }}</p>
                                <h2>Mes recommandations</h2>
                                {% for recom in recoms %}
                                    {% if recom.type == 'Resource' %}
                                        <p><i class="fa fa-angle-right"></i> <a href="{{ path('resource_display', {'name': recom.name}) }}">{{ recom.name }} </a> </p>
                                    {% endif %}
                                {% endfor %}
                                <h2>Mes projets</h2>
                                {% if projects is empty %}
                                    <p>Cet utilisateur n'a encore donné aucun détail concernant ses projets...</p>
                                {% endif %}
                            </div>
                            <div class="col-md-12 profile-section profile-section-recoms">
                                <h2>Recommandations</h2>
                                <div id="servicebtn" class="fake-btn-green btn col-md-3 active" onclick="showResources()">Services</div>
                                <div class="col-md-1"></div>
                                <div id="mediabtn" class="fake-btn-green btn col-md-3 " onclick="showMedia()">Médias</div>
                                <div class="col-md-5"></div>
                                <div class="col-md-12">
                                    <hr>
                                </div>
                                <div class="col">
                                </div>
                                {% for recom in recoms %}
                                    <div class="col-md-12 profile-recom-single profile-recom-type-{{ recom.type }} {% if recom.type == 'Resource' %}active{% endif %}">
                                        <div class="col-md-3">
                                            {% if recom.image %}
                                                <img src="{{ asset('uploads/' ~ recom.image) }}" alt="recommandation {{ recom.name }}">
                                            {% else %}
                                                <img src="{{ asset('images/bigard.png') }}" alt="recommandation {{ recom.name }}">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-5">
                                            <h3>{{ recom.name }}</h3>
                                            <p>{{ recom.category }}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>{{ recom.likesCount }} recommandation(s) !</p>
                                        </div>
                                        <div class="col-md-12">
                                            {% if recom.description is empty %}
                                                <p>Aucune description disponible !</p>
                                            {% else %}
                                                <p>{{ recom.description }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-12">
                                            <hr>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-12 profile-section profile-section-startups">
                                <h2>EN COURS</h2>
                            </div>
                            <div class="col-md-12 profile-section profile-section-follows"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Sur les 90 derniers jours</h2>
                                <p>{{ recomViews }} vues de vos recommandations</p>
                                <p>{{ startupViews }} vues de votre startup</p>
                                <p data-toggle="tooltip" data-placement="left" title="Cette fonctionalité arrive bientôt !" class="disabled">0 comparaisons</p>
                            </div>
                            <div class="col-md-12 profile-questions disabled" data-toggle="tooltip" data-placement="top" title="Presque prêt !">
                                <img src="{{ asset('images/questions-beta.png') }}">
                            </div>
                            <div class="col-md-12 profile-questions disabled" data-toggle="tooltip" data-placement="top" title="Presque prêt !">
                                <h2>Badges</h2>
                                <p>Fonctionalité en cours de développement...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block additional_javascript %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>
        function showResources() {
            $('.profile-recom-single').removeClass('active');
            $('.profile-recom-type-Resource').addClass('active');
            $('#servicebtn').addClass('active');
            $('#mediabtn').removeClass('active')
        }

        function showMedia() {
            $('.profile-recom-single').removeClass('active');
            $('.profile-recom-type-Media').addClass('active');
            $('#servicebtn').removeClass('active');
            $('#mediabtn').addClass('active')
        }
    </script>
{% endblock%}