{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container" id="resources-home-container">
        <section class="wip" id="profile-main">
            <div class="col-md-12 text-center">
                <h1>Ceci est la page de l'annuaire des prestataires</h1>
                <h2>En construction !</h2>
            </div>

            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Nom</th>
                        <th>Catégorie</th>
                        <th>Entreprise</th>
                    </tr>
                    {% for resource in resources %}
                        <tr>
                            <th><a href="{{ path('resource_display',
                                { 'name' : resource.name} ) }}">{{ resource.name }}</a> </th>
                            <th>{{ resource.category }}</th>
                            <th>{{ resource.company }}</th>
                        </tr>

                        <div class="col-md-4 text-center service-card-large">
                            <div class="col-md-12">
                                <img src="{{ extract.photoUrl }}" alt="photo de {{ extract.name }}, catégorie : {{ extract.categoryName }}">
                                <br>
                                <img class="cat-img" src="{{ asset('images/icons/' ~ extract.category ~ '.png') }}" alt="logo de la catégorie {{ extract.categoryName }}">
                                <h4>{{ extract.categoryName }}</h4>
                                <h5>{{ extract.name }}</h5>
                                <div class="card-pitch">
                                    <p>{{ extract.pitch }}</p>
                                </div>
                                <div class="card-recommendation">
                                    <p><i class="fa fa-thumbs-o-up"></i> <b>{{ extract.recom }}</b> recommandations</p>
                                </div>
                                <a href=""><div class="col-md-6 fake-btn fake-btn-grey">Voir la suite</div></a>
                                <a href=""><div class="col-md-6 fake-btn fake-btn-orange">Recommander</div></a>
                            </div>
                        </div>

                    {% endfor %}

                </table>
            </div>


        </section>
    </div>
{% endblock %}