{% extends 'base.html.twig' %}

{% block body %}
<div class="container display-media-container text-center">
    <div class="row">
        <div class="col-xs-12">



            <h1>{{ media.name }}</h1>
            <h2>Apperçu</h2>
            <div class="embed">
                <script>
                    (function(w, d){
                        var id='embedly-platform', n = 'script';
                        if (!d.getElementById(id)){
                            w.embedly = w.embedly || function() {(w.embedly.q = w.embedly.q || []).push(arguments);};
                            var e = d.createElement(n); e.id = id; e.async=1;
                            e.src = ('https:' === document.location.protocol ? 'https' : 'http') + '://cdn.embedly.com/widgets/platform.js';
                            var s = d.getElementsByTagName(n)[0];
                            s.parentNode.insertBefore(e, s);
                        }
                    })(window, document);
                </script>
                <a href="{{ media.link }}" class="embedly-card" data-card-controls="0"></a>
            </div>
            <h2>Catégorie</h2>
            <p>{{ media.category }}</p>
            <h2>Posté par</h2>
            <p>{{ media.submittedBy }}</p>
            <h2>Posté le</h2>
            <p>{{ media.dateSubmitted|date('d/m/Y') }}</p>
            <h2>Commentaires</h2>
            <p>{{ media.description }}</p>
            <h2>Recommandations</h2>
            <p>{{ media.likesCount }}</p>
        </div>
    </div>
</div>
{% endblock %}

