{% extends 'base.html.twig' %}

{% block title %}
    Résultats de la recherche
{% endblock %}

{% block body %}
    <div class="container" id="media-home-container">

        <section id="map-section">
            <div class="col-md-12">

                {% include 'V2/parts/map.html.twig' %}

                <div class="col-md-8" id="search-form">
                    <div style="position: relative;">
                        <form id="search-form-real" role="search" action="{{ path('search_results') }}">
                            <div class="col-md-1"></div>
                            <div class="col-md-3">
                                <input type="text" placeholder="Je cherche : prestataire / organisme/ livre / startup..." name="args">
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="Où : Lyon">
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-12 fake-btn fake-btn-orange" id="search-btn" onclick="$('#search-form-real').submit()" style="cursor: pointer">Chercher</div>
                            </div>
                            <div class="col-md-1"></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <section class="wip" id="profile-main">
            <div class="col-md-12 text-center">
                <h1>Résultats de la recherche :</h1>
                <h2>Media</h2>
            </div>

            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Ajouté par</th>
                        <th>Ajouté le</th>
                        <th>Recommandations</th>
                        <th></th>
                    </tr>
                    {% for media in medias %}
                        <tr>
                            <th>{{ media.id}}</th>
                            <th><a href="{{ path('media_display', { 'name' : media.name} ) }}">{{ media.name }}</a> </th>
                            <th>{{ media.submittedBy }}</th>
                            <th>{{ media.dateSubmitted|date('d/m/Y') }}</th>
                            <th>{{ media.likesCount }}</th>
                            {% if app.user %}
                                <th><div id="{{ media.id }}" class="btn fake-btn-orange recom-btn">Recommander</div></th>
                            {% else %}
                                <th><a href="{{ path('login') }}"><div id="{{ media.id }}" class="btn fake-btn-orange recom-btn-disabled">Recommander</div></a> </th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </section>
    </div>

    <div class="container" id="resources-home-container">
        <section class="wip" id="profile-main">
            <div class="col-md-12 text-center">
                <h2>Prestataires</h2>
            </div>

            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Nom</th>
                        <th>Catégorie</th>
                        <th>Entreprise</th>
                        <th>Recommandations</th>
                        <th></th>
                    </tr>
                    {% for resource in resources %}
                        <tr>
                            <th><a href="{{ path('resource_display',
                                { 'name' : resource.name} ) }}">{{ resource.name }}</a> </th>
                            <th>{{ resource.category }}</th>
                            <th>{{ resource.company }}</th>
                            <th>{{ resource.likesCount }}</th>
                            {% if app.user %}
                                <th><div id="{{ resource.id }}" class="btn fake-btn-orange recom-btn">Recommander</div></th>
                            {% else %}
                                <th><a href="{{ path('login') }}"><div id="{{ resource.id }}" class="btn fake-btn-orange recom-btn-disabled">Recommander</div></a> </th>
                            {% endif %}
                        </tr>

                    {% endfor %}


                </table>
            </div>


        </section>
    </div>

    <div class="container" id="resources-home-container">
        <section class="wip" id="profile-main">
            <div class="col-md-12 text-center">
                <h2>Startups</h2>
            </div>

            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Nom</th>
                        <th>Enregistré par</th>
                        <th>Recommandations</th>
                        <th></th>
                    </tr>
                    {% for startup in startups %}
                        <tr>
                            <th><a href="{{ path('startup_display',
                                { 'name' : startup.name} ) }}">{{ startup.name }}</a> </th>
                            <th>{{ startup.submittedBy}}</th>
                            <th>{{ startup.likesCount }}</th>
                            {% if app.user %}
                                <th><div id="{{ startup.id }}" class="btn fake-btn-orange recom-btn">Recommander</div></th>
                            {% else %}
                                <th><a href="{{ path('login') }}"><div id="{{ startup.id }}" class="btn fake-btn-orange recom-btn-disabled">Recommander</div></a> </th>
                            {% endif %}
                        </tr>

                    {% endfor %}

                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"></div>

                </table>
            </div>


        </section>
    </div>

{% endblock %}
